include LICENSE.md
include README.md
include pyproject.toml
recursive-include src/pynzor *.py *.yaml *.txt *.j2
recursive-include docs *.md *.json *.html
prune tests
prune local
prune reports
prune demo
prune .github
prune .venv
prune .venv.orig
global-exclude .DS_Store
global-exclude *.py[cod]
